@{
    ViewData["Title"] = "Hurricane Loves File New";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>Time since Hurricane last did File New:</p>
    <br />

    <label>Probably only a few hours! ;)</label>
</div>
